.container-center {
  display: block;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  padding-bottom: 30px;
  padding-top: 30px;
  overflow-x: scroll;
  .container-center__image-1,
  .container-center__image-2,
  .container-center__image-3,
  .container-center__image-4,
  .container-center__image-5,
  .container-center__image-6,
  .container-center__image-7,
  .container-center__image-8,
  .container-center__image-9,
  .container-center__image-10 {
    width: 79.39px;
    height: 79.39px;
    margin-right: 50px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .container-center__image-1 {
    margin-left: 30px;
  }
  .container-center__image-10 {
    margin-right: 0;
  }
}


