.home-catalog-links_contact-us {
  border-top: 10px solid #000;
  margin-top: -45px;
  height: 150px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  z-index: -1;
  .home-catalog-links__shop_contact-us {
    font-family: 'Ubuntu';
    font-size: 13px;
    padding-left: 5px;
    padding-top: 100px;
  }
  .home-catalog-links__home_contact-us {
    font-family: 'Ubuntu';
    font-size: 13px;
    color: #005db4;
    cursor: pointer;
    padding-right: 5px;
    padding-top: 100px;
    margin-left: 96px;
  }
}

.price {
  margin-top: 105px;
}