.header-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 60px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Ubuntu';
  .toolbar {
    display: flex;
    flex-flow: row nowrap;
    width: 68%;
    .toolbar__inline {
      padding-right: 25px;
      & i {
        padding-right: 5px;
      }
    }
  }
  .login-container {
  width: 280px;
  height: 300px;
  position: absolute;
  &:hover .form-hidden {
      display: block;
    }
  .login {
    color: #005db4;
    cursor: pointer;
    margin-bottom: 20px;
	position: relative;
	    
  }
  }
  .form-hidden {
    display: none;
    .loginform {
      position: absolute;
      right: 271px;
      top: 29px;
      font-size: 10px;
      font-family: 'Ubuntu';
      display: flex;
      flex-flow: column wrap;
      line-height: 3;
      width: 280px;
      font-weight: 400;
      padding-left: 20px;
      padding-top: 20px;
      letter-spacing: 0.5px;
      z-index: 1;
      background-color: #e5e8de;
      background: grba (255, 255, 255, 0.8);
      & label {
        color: #005db4;
      }
      #user_pass,
      #user_login {
        width: 85%;
        height: 25px;
      }
      #rememberme {
        margin-top: 10px;
        margin-right: 5px;
      }
      #submit {
        width: 35%;
        height: 40px;
        color: #fff;
        background-color: #005db4;
        font-size: 14px;
        border-radius: 5px;
        text-transform: uppercase;
        border: 0;
      }
      .reglost {
        padding-bottom: 20px;
        & a {
          color: #005db4;
        }
      }
    }
  }
}
