.information {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  .information-position {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 80%;
    .information-section {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      .icon-content {
        font-size: 35px;
        line-height: 40px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      &__title {
        margin: 0 0 15px 0;
        font-family: 'Ubuntu';
        font-weight: 700;
        color: #333333;
        text-transform: uppercase;
		font-size: 19px;
      }
      &__text {
        padding: 0;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 300;
        font-family: 'Ubuntu';
      }
    }
  }
}