.price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: url(../images/bg-layer-02.png) #005db4 repeat;
  padding-top: 80px;
  padding-bottom: 80px;
  .price-text {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    font-family: 'Ubuntu';
  }
  .price-button {
    display: block;
    padding: 12px 70px;
    color: #ffffff;
    background: #007aec;
    border: 1px solid #007aec;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    font-family: 'Ubuntu';
    &:hover {
      background: none;
      border: 1px solid #fff;
    }
  }
}